.root{
    -greyLight: rgb(227, 227, 225);
    -greyDark: rgb(164, 164, 162);
    -fx-focus-color: transparent;
}

/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */

/* Redefine base colors */
.root {
    -fx-base: rgb(43, 43, 43);
    -fx-background: rgb(60, 63, 65);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20, 20, 20);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: white;
    -fx-dark-text-color: white;

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(230, 149, 4);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: transparent ;
}
.menu-bar{
    -fx-background-color: rgb(60, 63, 65);
}
/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}
.font-icon{
    -fx-fill: white;
}

.menu{
    -fx-font-size: 11pt;
}
.menu-item{
    -fx-font-size: 10pt;
}
.menu-bar{
    #-fx-background-color: linear-gradient(-greyLight,-greyDark);
    -fx-border-color: dimgrey;
    -fx-border-width: 0 0 1 0;

}
#logPane{
    -fx-padding: 0;
}

.rubber-band{
    -fx-fill: derive(lightblue,60%);
    -fx-opacity: .6;
    -fx-stroke: blue;
    -fx-stroke-width: .5;
    -fx-stroke-line-cap: round;
}
.rubber-band:hover{
    -fx-opacity: .9;
}
.rubber-corner{
    -fx-fill: derive(lightblue,90%);
    -fx-opacity: .9;
    -fx-stroke: blue;
    -fx-stroke-width: .5;
    -fx-stroke-line-cap: round;
}
.rubber-corner:hover{
    -fx-fill: darkblue;
}
#run-button{
    -fx-font-size: 12pt;
}
/*transparent for Menu with ChoiceBox*/
#transparent:hover,
#transparent:focused,
#transparent:showing{
    -fx-background: transparent;
}

.choice-box {
    -fx-mark-color: orange;

}
.choice-box > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused { -fx-background-color: white; }
.choice-box .menu-item:focused { -fx-background-color: orange; }
.choice-box .menu-item > .label { -fx-text-fill: white; }

.stack-pane{
    -fx-background: -fx-control-inner-background;
}

.highlight-button{
    -fx-base: orange;
    -fx-text-fill: -fx-control-inner-background;
}