.root{
    -greyLight: rgb(227, 227, 225);
    -greyDark: rgb(164, 164, 162);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-bgrnd-darker: #252726;
    -fx-bgrnd-dark: #2c2e2d;
    -fx-bgrnd: #363837;
    -fx-bgrnd-light: #626463;
    -fx-fgrnd: #c7cbc9;
    -fx-green: #67d11a;
    -fx-orange: #e68400;
    -fx-red: #f81a00;
    -fx-txt-light: #fffbee;
    -fx-txt-dark: #000000;
}
.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}
.menu{
    -fx-font-size: 11pt;
}
.menu-item{
    -fx-font-size: 10pt;
}
.menu-bar{
    #-fx-background-color: linear-gradient(-greyLight,-greyDark);
    -fx-background-color: transparent;
   /* -fx-border-color: dimgrey;
    -fx-border-width: 0 0 1 0;*/

}
#hBoxTop{
    -fx-background-color: -greyLight;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -greyDark;
}
#logPane{
    -fx-padding: 0;
}
.rubber-band{
    -fx-fill: derive(lightblue,60%);
    -fx-opacity: .6;
    -fx-stroke: blue;
    -fx-stroke-width: .5;
    -fx-stroke-line-cap: round;
}
.rubber-band:hover{
    -fx-opacity: .9;
}
.rubber-corner{
    -fx-fill: derive(lightblue,90%);
    -fx-opacity: .9;
    -fx-stroke: blue;
    -fx-stroke-width: .5;
    -fx-stroke-line-cap: round;
}
.rubber-corner:hover{
    -fx-fill: darkblue;
}
/*transparent for Menu with ChoiceBox*/
#transparent:hover,
#transparent:focused,
#transparent:showing{
    -fx-background: transparent;
}
.font-icon{
     -fx-fill: black;
 }
#btnMinimize {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#btnMinimize > * {
    -fx-icon-color: -fx-txt-dark;
}

#btnMinimize:hover {
    -fx-background-color: -fx-orange;
}

#btnMinimize:hover > * {
    -fx-icon-color: -fx-txt-light;
}

#btnClose {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#btnClose > * {
    -fx-icon-color: -fx-txt-dark;
}

#btnClose:hover {
    -fx-background-color: -fx-red;
}

#btnClose:hover > * {
    -fx-icon-color: -fx-txt-light;
}
#rootPane{
   /* -fx-border-color: -fx-txt-dark;
    -fx-border-width: 1px;*/
}